<h3>ETL delta load</h3>
<p>Simple example script for delta load with using petl, pandas, sqlalchemy</p>

In [4]:
import pandas as pd
import petl as etl

import psycopg2 as pg
from sqlalchemy import create_engine, text

from datetime import datetime
import pytz
from petl import datetimeparser
isodatetime = datetimeparser('%Y-%m-%d %H:%M:%S')

#Importing libs

In [5]:
conn = pg.connect("host=172.18.0.3 dbname=olist_customers_dataset user=airflow password=airflow")
#Connection for database

In [6]:
sourcer = etl.convert(etl.fromcsv('src.csv'), {"modi_date": lambda d: isodatetime(d),"id": int})
etl.todb(table = sourcer, dbo = conn, tablename = 'source', schema='delta', drop=True)
#CSV Load

In [7]:
source = etl.fromdb(conn,'select * from delta.source')
source = etl.convert(source, "id", int)
source.display(20)
#Source table

id,name,modi_date
1,dd,2021-08-09 22:03:00
2,ff,2021-08-09 22:03:00
3,dd,2021-08-09 22:03:00
4,l2,2021-08-10 10:50:59
5,rr,2021-08-09 22:03:00
6,dd,2021-08-09 22:03:00
7,fd,2021-08-10 18:02:00
8,rr,2021-08-10 18:05:00
9,tt,2021-08-10 18:08:50
10,gg,2021-08-10 22:43:30
11,gt,2021-08-10 22:43:30

In [5]:
delta_info = etl.fromdb(conn, 'select count(1)+1 count_rec, max(end_ts) last_e_ts from delta.delta')
delta_info
#Delta table

In [7]:
now = datetime.now(tz=pytz.timezone('Europe/Moscow'))
now = datetime.strftime(now, "%Y-%m-%d %H:%M:%S")
now = isodatetime(now)
now
#Now timestamp

datetime.datetime(2021, 8, 10, 22, 46, 19)

In [8]:
lv_last_e_ts = datetime(2000,1,1,0,0,0) if delta_info['last_e_ts'][0] == None else delta_info['last_e_ts'][0] 
lv_delta_id = delta_info['count_rec'][0]
lv_last_e_ts
#Setting delta_id and last_e_ts

In [10]:
rec = etl.addfield(etl.select(source, \
                lambda rec: rec.modi_date >= lv_last_e_ts and rec.modi_date < now), 'ts', now)
values = etl.todataframe(rec)
values
#Selecting data by timestamp filter

In [13]:
engine = create_engine('postgresql://airflow:airflow@172.18.0.3/olist_customers_dataset')
for i in list(values.to_records(index=False)):
    query = text(f"""UPDATE delta.reciever
                SET name='{str(i[1])}', modi_date='{str(i[2])}', ts='{str(i[3])}' WHERE id={int(i[0])};
                INSERT INTO delta.reciever (id, name, modi_date, ts)
                SELECT {','.join([str(i)]).replace('(','').replace(')','')}
                WHERE NOT EXISTS (SELECT 1 FROM delta.reciever WHERE id={int(i[0])});
         """)
    engine.execute(query)
#Upsert to recieve table

In [14]:
cn_r = len(values)
delta_table_new = etl.setheader([['id','start_ts','end_ts','delta_obj','ts','cn_r'],[lv_delta_id,lv_last_e_ts,now,'delta_1',now,cn_r]],['id','start_ts','end_ts','delta_obj','ts','cn_r'])
delta_table_new
#Creating delta info

+----+--------------------------------------------+--------------------------------------------+-----------+--------------------------------------------+------+
| id | start_ts                                   | end_ts                                     | delta_obj | ts                                         | cn_r |
+====+============================================+============================================+===========+============================================+======+
|  4 | datetime.datetime(2021, 8, 10, 22, 42, 14) | datetime.datetime(2021, 8, 10, 22, 46, 19) | 'delta_1' | datetime.datetime(2021, 8, 10, 22, 46, 19) |    2 |
+----+--------------------------------------------+--------------------------------------------+-----------+--------------------------------------------+------+

In [15]:
etl.appenddb(table = delta_table_new, dbo = conn, tablename = "delta", schema = 'delta')
#Inserting new delta info